<!DOCTYPE html>
<html>
    <head>
        <title>
            "Hello, World!"
        </title>
    </head>
    <nav>
        <ul>
            <li>
                <a href="/inicio">inicio</a>
            </li>
            <li>
                <a href="/fin">fin</a>
            </li>

            <li>
                <a href="/tabla">tabla</a>
            </li>

            <li>
                <a href="/tabla/1">tabla_numero</a>
            </li>
        </ul>
    </nav>
{% block content %}  {% endblock %}
    <body>
        <h1> prueba bonita jejsjs</h1>
    </body>
</html>